.menu-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
}
.menu-check{
    display: none;
}
.menu-check:checked + .links {
    transform: translateY(0);
}

.links {
    transform: translateX(-200%);
    transition: 2s;
}

.links a{
    color: white;
}

.links a:hover {
    color: white; 
}


@media screen and (min-width: 768px) {
    .menu-btn{
        display: none;
    }
    .links {
        transform: translateY(0);
    }
}
nav{
    text-align: center;
    margin-top: 180px;
    font-family: 'Thasadith', sans-serif;
}

nav {
    grid-area: nav;
    height: 48px;
}
.negron{
    margin-left: 70px;
     margin-top: 15px;
     margin-block-end: 15px;
     float:left ;
   }
.logo1{
     text-align: center;
     margin-block: 3rem;
     font-family: 'Thasadith', sans-serif;
     color: #AB8D4F;
     
    
    }
   .redes1{
     float: right;
     margin-right: 20px;
   }
   .container-fluid{
     background-color: brown;}
h2{
    text-align: center;
    padding: 1rem;
    color: darkkhaki;
    font-family: 'Baskervville', serif;
    } 

.boda1{
    margin-left: 70px;
    
}
.boda2{
    float: right;
    margin-right: 70px ;
    
}
h1{
    text-align: center;
    font-family: 'Thasadith', sans-serif;
    color: brown;
    
}
.evento1{
    margin-left: 70px;
    
}
.evento2{
    float: right;
    margin-right: 70px ;
    margin-block-end: 2rem;
   
}
footer #footer {
    background-image: url(../imagen/footer.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-block-end: -305px;
    font-family: 'Baskervville', serif;
}
  
.logo {
  width: 140px;
  margin-left: 5px;
}

.container-fluid2{
  display: flex;
  margin-top: -100px;
  justify-content: center;

}

.text {
    font-size: 22px;
    margin-top: 15px;
    font-family: 'Baskervville', serif;
}

.text1 {
    font-size: 17px;
    margin-top: 0px;
    font-family: 'Baskervville', serif;
}
@media screen and (max-width: 768px) {
    .boda1{
       width: 50%; 
    }
    .boda2{
        width: 50%;
        margin-top: 2rem;
        margin-right: 5.4rem;
    }
    .evento1{
        width: 50%;
    }
    .evento2{
        width: 50%;
        margin-top: 2rem ;
        margin-right: 5.4rem;
    }
    
    .evento20{
        margin-top: 10rem;
    }
        .menu-btn{
            display: none;
        }
        .links {
            transform: translateY(0);
        }
    
        .logo {
            margin-left: 0px;
            margin-right: 300px;
        }
        .botton {
            margin-left: -400px;
        }
    } 
    
    nav{
        text-align: center;
        margin-top: 180px;
    }
    
    nav {
        grid-area: nav;
        height: 48px;
    }
    
    .container-fluid{
        background-color: brown;
    }
    
    h2{
        text-align: center;
      }
    
    .negron{
       margin-left: 70px;
        margin-top: 15px;
        margin-block-end: 15px;
        float:left ;
      }
      .logo1{
        text-align: center;
        margin-block: 3rem;
        
      }
      .redes1{
        float: right;
        margin-right: 20px;
      }
      @media screen and (max-width: 768px) {
        footer #footer {
            background-image: url(../imagen/footer.png);
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 10rem;
            margin-block-end: -305px;
            font-family: 'Baskervville', serif;
        }
          
        .logo {
          width: 140px;
          margin-left: 15rem;
        }
        
        .container-fluid2{
          display: flex;
          margin-top: -100px;
          justify-content: center;
          margin-left: 10rem;
        
        }
      }
      